<%= form_with(model: @techbit, local: true, class:"p-3 bg-white") do |form|%>
  <% if techbit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(techbit.errors.count, "error") %> prohibited this Bit from being saved:</h2>

      <ul>
        <% techbit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <%= form.label(:bit, "Your Techbit:") %>
    <%= form.text_area :bit, class:"border w-100"  %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn-primary" %>
  </div>
<% end %>

